html, body {
    width: 100%;
    border: 0;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    color: white;
    overflow: hidden;
}
html, body, main, h1, p {
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    background-color: #252720;
}
html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
}
.scroll-area {
    scroll-snap-align: start;
}

/*==================================================== HEADER ====================================================*/
header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 5vh;
    background-image: url(images/header/kv_pc_bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}
#share {
    display: flex;    
    justify-content: end;
    margin-right: 2vw;
    padding-top: 5vh;
    height: 5vh;
}
#share img {
    margin-right: 1vw;
}

#title, #title img, #sub-title, #arrow-down-btn{
    position: relative;
    z-index: 2;
}
#title {
    display: flex;
    justify-content: center;
    margin-top: -9vh;
    width: auto;
    height: 75vh;
}
#title img {
    max-width: 100%;
    max-height: 100%;
}

#sub-title {
    display: flex;
    justify-content: center;
    height: 14vh;
}

/* #arrow-down-btn {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}
#arrow-down-btn img {
    height: 60%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#arrow-down-btn img:hover {
    height: 70%;
} */

header::after {
    content:'';
    height: 50%;
    width: 100%;
    display: block;
    background: url(./images/header/kv_mask.png) bottom no-repeat;  
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

#firebg {
    position: fixed;
    z-index: 3;
}
/*==================================================== MENU BAR ====================================================*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    /* position: sticky; */
    position: fixed; 
    z-index: 10;
    /* background-color: #252720; */
    /* border: 1px solid black; */
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-right: 10vw;
}
nav li {
    display: inline;
    float: left;
    width: 18vh;
    /* border: 1px solid black; */
}
nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vh;
    height: 8vh;
    color: white;
    text-align: center;
    font-size: 19px;    
    border: 0.5px solid black;
    background-color: #252720;
    text-decoration: none;
}
nav li a:hover {
    display: relative;
    background-color: #eee;
    color: black;
    transition: 0.5s;
}
nav img {
    width: 23vh;
    height: 8vh;
    padding-left: 15vh;
}
.dropdown-btn:hover .dropdown-content{
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 18vh;
    background-color: #252720;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.sticky + nav {
    padding-top: 5vh;
}
/*==================================================== NEWS AND MOVIES ====================================================*/
.news-n-movies {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 20vh;
}
.news-n-movies img {
    width: 85%;
    padding-bottom: 2vh;
}
.news-n-movies h1 {
    font-size: 50px;
    letter-spacing: 4px;
}

#news {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 25px;
    letter-spacing: 4px;
    padding-top: 12vh;
    padding-left: 10vh;
}
#movies {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 25px;
    letter-spacing: 4px;
    padding-top: 12vh;
    padding-left: 10vh;
}
.news-header, .movies-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1vh;
    padding-right: 10vh;
}
.news-header a, .movies-header a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 1px;
    border: 0.1px solid #5e5e5e;
    padding: 1.3vh 1.5vw;
}
.movies-header a {
    padding: 1.3vh 2.2vw;
}
.news-header a:hover, .movies-header a:hover {
    background-color: #888;
    opacity: 0.8;
    transition: 0.5s;
}
.youtube-movie {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
/*==================================================== GAME ====================================================*/
#character, #music{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#gameplay, #special{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
/*==================================================== STORY ====================================================*/
#story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
}
#story::before {
    content:'';
    height: 45%;
    width: 100%;
    background: url(./images/body/story_bg.png) top no-repeat;  
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 0;
}
#story::after {
    content:'';
    height: 45%;
    background: url(./images/body/story_bg.png) top no-repeat;   
    background-size: cover;
    width: 100%;
    transform: rotate(180deg);    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    z-index: 0;
}
#story h1 {
    position: relative;
    font-size: 50px;
    letter-spacing: 4px;
    z-index: 2;
}
#story img {
    position: relative;
    width: 35%;
    padding-bottom: 2vh;
    z-index: 2;
}
#story p {
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 游明朝体,yumincho,游明朝,yu mincho,ヒラギノ明朝 pron w3,hiragino mincho pron w3,
    HiraMinProN-W3,ヒラギノ明朝 pron,hiragino mincho pron,ヒラギノ明朝 pro,hiragino mincho pro,hgs明朝e,ＭＳ Ｐ明朝,ms pmincho,serif;
    background-color: none;
    transition: all 0.5s ease-out;
}
/*==================================================== CHARACTER ====================================================*/
#character {
    background: url(./images/body/char-bg.jpg) no-repeat;   
    background-size: cover;
    background-position: bottom 25% right 0%;
    background-attachment: fixed;
}
#character h1 {
    font-size: 50px;
    letter-spacing: 4px;
}
#character img {
    width: 35%;
    padding-bottom: 2vh;
}
/*==================================================== MUSIC ====================================================*/
#music h1 {
    font-size: 50px;
    letter-spacing: 4px;
}
#music img {
    width: 35%;
    padding-bottom: 8vh;
}
.youtube-music {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8vh;
}
.youtube-music iframe {
    padding: 0 5vh;
}
#music a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 1px;
    border: 0.1px solid #5e5e5e;
    padding: 2vh 4vw;
}
#music a:hover {
    background-color: #888;
    opacity: 0.8;
    transition: 0.5s;
}
/*==================================================== GAMEPLAY ====================================================*/
#gameplay {
    font-size: 20px;
    letter-spacing: 4px;
    color: black;
    background-image: url(./images/body/gameplay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gameplay h1 {
    font-size: 50px;
    letter-spacing: 4px;
}
#gameplay img {
    width: 23%;
    padding-bottom: 2vh;
}

/*==================================================== SPECIAL ====================================================*/
#special {
    font-size: 20px;
    letter-spacing: 4px;
    background-image: url(./images/body/special_bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
#special h1 {
    font-size: 50px;
    letter-spacing: 4px;
}
#special img {
    width: 25%;
    padding-bottom: 2vh;
}
/*==================================================== FOOTER ====================================================*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 12vh;
    width: 100%;
    height: 70vh;
    background-color: #252720;
}

footer div {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 10vh;
}

footer div h1 {
    font-size: 20px;
}

footer hr {
    color: white;
    width: 10%;
}

#title-game {
    margin-bottom: 3vh;
}

#information{
    margin-top: 3vh;
    font-size: 14px;
}
#information a {
    color: white;
    text-decoration: none;
}
#information a:hover {
    text-decoration: underline;
}